@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header, .admin-link {

  font-family: 'Montserrat';
}

.topHead a {
  color: white;
  text-decoration: none;
}
.topHead{
  background-color: #4A5568;
  width: 100%;
  height: 50px;
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.botHead a, .admin-link a  {
  color: black;
  text-decoration: none;
}
.botHead {
  background-color: #99a8b8;
  width: 100%;
  height: 50px;
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  align-items: center;
  color: black;
}

@media screen and (max-width: 800px) {
  .topHead a {
    font-size: 0.75rem;
  }
  .botHead {
    font-size: 1rem;
  }
}

.banner {
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat';
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 1000px;
  width: 100%;
  color: white;
  flex-shrink: 0; 

}

.time {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mainBar {
  width: 70%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 70px;
}

.mainMess {
  font-size: 1.5rem;
}

.subMess {
  font-size: 1.5rem;
  width: 70%;
}

.sideBar {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  height: 300px;
  text-align: right;
  padding-right: 70px;

}

.time img {
  width: 40px;
  height: 40px;
  position: relative;
  right: 15px;
}

@media screen and (max-width: 1000px) {
  .mainMess {
    font-size: 1rem;
  }
  .subMess {
    font-size: 1rem;
  }
  .time {
    font-size: 1.5rem;
  }

  .sideBar h1 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 800px) {
  .banner {
    flex-direction: column;
  }
  .mainBar {
    width: 100%;
    height: 300px;
    padding-left: 0;
    align-items: center;
    text-align: center;
  }
  .sideBar {
    width: 100%;
    height: 50px;
    padding-right: 0;
    text-align: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }
  .sideBar h1 {
    font-size: 1rem;
  }
  .time {
    display: flex;
    flex-direction: row;
  }
  .time img {
    width: 30px;
    height: 30px;
    position: relative;
    right: 15px;
  }
  .time h1 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .time {
    font-size: 1rem;
  }
  .time img {
    width: 20px;
    height: 20px;
    position: relative;
    right: 15px;
  }
  .mainMess {
    font-size: 1rem;
  }
  .subMess {
    font-size: 1rem;
  }
  .sideBar h1 {
    font-size: 1rem;
  }
  .topHead a {
    font-size: 0.5rem;
  }
  .botHead {
    font-size: 0.75rem;
  }
  
}

.homeCont {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  height: 100vh; 
}
.linkBox {
  flex-grow: 1; /* Take up remaining space */
  display: flex;
  flex-direction: row;
}
.fillBox{
  flex-grow: 0.2; /* Take up remaining space */
  /* background-color: #1e1e1e; */
}
.linkBox div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.flightLink {
  flex-grow: 1; /* Take up remaining space */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #111753;
  color: white;
  text-decoration: none;
}

.airportLink {
  flex-grow: 1; /* Take up remaining space */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #7681BA;
  color: white;
  text-decoration: none;

}

.adminLink {
  flex-grow: 1; /* Take up remaining space */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #111753;
  color: white;
  text-decoration: none;

}

.shadeBox {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  transition: opacity 0.5s;   
  float: left;
  position: relative;
}

.shadeBox:hover {
  opacity: 0;
}

.linkBoxTxt {

}
.flightListCont {
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #667489;
  gap: 20px;
  padding-top: 100px;
  font-family: 'Montserrat';
}
.fullBox {
  width: 113px;
}

.flightItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e1e;
  color: white;
  font-size: 1.25rem;
  height: 100px;
  width: 90%;
  padding: 0 10px 0 40px;
  border-radius: 10px;
  border: 1px solid white;

}


.flightAirline {
  width: 200px;
  text-align: left;
}
.flightNum {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.flightNum h3 {
  margin-bottom: -10px;
}

.flightStatus {
  width: 100px;
  text-align: center;
}

.flightGate {
  width: 100px;
  text-align: center;
}

.flightTerm {
  width: 100px;
  text-align: center;
}

.flightDepart, .flightArrival {
  width: 250px;
  text-align: center;
}

.columnTitles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 1.25rem;
  width: 90%;
  padding: 0 10px 0 40px;

}

.columnTitles div {
  display : flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: left;
}

.ColFlight {
  width: 200px;
  margin-right: -5px;

}
.ColStatus {
  width: 100px;
}

.ColGate {
  width: 100px;
}


.ColTerm {
  width: 100px;
}

.ColDepart, .ColArrival {
  width: 250px;
  text-align: center;
}





.auth {
  height: 100vh;
}
/* Overlay background */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent dark background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensures it appears above everything */
}

/* Login Box */
.logInBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4A5568; /* Adjust to match your theme */
  gap: 20px;
  width: 400px;  /* Adjust dimensions */
  height: 300px;
  padding: 20px;
  border-radius: 15px;
  color: white;
  border: 2px solid black;
  z-index: 1100; /* Higher than the overlay */
}

.logInBox input {
  padding: 10px;
  font-size: 1rem;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.logInBox button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #2D3748;
  color: white;
  cursor: pointer;
}

.logInBox button.cancel {
  background-color: #E53E3E; /* Cancel button with a red background */
}

.logInBox .error {
  color: #E53E3E;
  font-size: 0.9rem;
}

.admin-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  background-color: transparent;
  border: none;

}

@media screen and (max-width: 800px) {
  .admin-link a {
    font-size: 1rem;
  }
  .botHead {
    font-size: 1rem;
  }
}
.adminOption {
  margin: 20px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  background-color: gray;
}

.adminOption button {
  width: 100%;
  padding: 10px;
  text-align: left;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.adminOption .dropdownContent {
  margin-top: 10px;
  padding: 10px;
  background: #f0f0f0;
  border-radius: 8px;
}
